@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap';
@font-face {
  font-family: 'Cascadia Mono';
  src: url('https://cdn.jsdelivr.net/gh/microsoft/cascadia-code@main/dist/static/otf/CascadiaMono.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
